body {
    background-color:#fbfcfc;
    /* background-image: url(images/body-bgpng)*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-size: cover;
}

.bg-img{
    background-image: url(assets/image.jpg);
    color:#f7f0f0;
    height: 250px;  
    background-repeat: no-repeat;
    background-size: 1288px 500px;      
    padding: 50px;
    height: 100vh;
}

h5 {
    color:rgb(189, 12, 233);
}

.testing {
    color:rgb(201, 24, 236);
}

#testing-para1 {
    font-size: 20px;
    font-weight: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

font-apply {
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.tranformation-apply {
    text-transform: uppercase;
    text-transform: capitalize;
    /*text-transform: lowercase;*/
    /*text-transform: none;*/
}
 
.decoration-apply {
    text-decoration: underline;

}

.text-atag-in-para {
    text-decoration: none;
    color: darkcyan;
}

.apply-all-ftd {
    letter-spacing: 25px;
    word-spacing: 22px;
    line-height: 0px;
    text-align: left;
}

.change-w {
    font-size: 52px;
    color: #f1870d;
    text-transform: uppercase;
}

ul{
    list-style-type: square;
    list-style-image: url(assets/assets.jpg);
    list-style:none;
    list-style-position: inside;
    /*list-style-position: outside;*/
}

ul{
    list-style-type: none;
    list-style-image: url(assets/assets.jpg);
    list-style-position: outside;
}
div.b-color {
    background-color: burlywood;
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}

.bg-1{
    background-image: url("assets/image.jpg");
    background-repeat: no repeat;
} 

ul {
    font-size: 200%;
    list-style-image: linear-gradient(to left bottom, red, blue);
  }
.border-property {
    border-style:dotted;
    border-style:solid;
    border-width:10px;
    border-color:red;
    border-radius: 30px;
    border: 10px solid orchid;
}

.padding-margin-property{
    border:3px solid red;
    margin: 50px;
    /*margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px; 
    margin-right: 100px;
    margin:90px 50px 100px 30px;
    margin:100px 20px;*/

    padding: 50px;
    /*padding: 100px 50px;*/
    padding: 10px 20px 50px 60px;
    /*padding-top: 10px;*/
    /*padding-bottom:20px*/
    /*padding-right:30px*/
    /*padding-left:50px*/
}

.image.jpg-img {
    width: 100px;
    height: 50px;
    /*float: right;*/
    float: left;
}

.display-apply {
    display: none;
    visibility:hidden
}


    

