body {
    background-color:#d3f5f7;
    /* background-image: url(images/body-bgpng)*/
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-size: cover;*/
    background-size: cover;
}

.bg-img{
    background-image: url(assets/image.jpg);
    color:#f7f0f0;
    /* height: 250px;  */
    background-repeat: no-repeat;
    background-size: 1288px 500px;      
    padding: 50px;
}

h5 {
    color:rgb(189, 12, 233);
}

.testing {
    color:rgb(201, 24, 236);
}

#testing-para1 {
    font-size: 20px;
    font-weight: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

font-apply {
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.tranformation-apply {
    text-transform: uppercase;
}
 
.decoration-apply {
    text-decoration: underline;
}

.text-atag-in-para {
    text-decoration: none;
    color:blanchedalmond;
}

.apply-all-ftd {
    letter-spacing: 25px;
    word-spacing: 22px;
    line-height: 0px;
    text-align: left;
}

.change-w {
    font-size: 52px;
    color: #f1870d;
    text-transform: uppercase;
}